In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from pickle import dump
data=pd.DataFrame({'ID' : [1,2,3,4,5,6,7,8,9,10],
                  'NAME' : ['JOHN','JACK','MARIAH','KRISHNA','DANNY','LISA','ANDREW','RAVI','GARIMA','KAVITA'],
                  'GENDER' : ['MALE','MALE','FEMALE','MALE','MALE','FEMALE','MALE','MALE','FEMALE','FEMALE'],
                  'PROFESSION' : ['MANAGER','MANAGER','DEVELOPER','TEAM LEAD','TEAM LEAD','ASSISTANT MANAGER','ASSISTANT MANAGER','MANAGER','ASSISTANT MANAGER','CEO'],
                  'SALARY' : [100000,120000,95000,99000,105000,145000,155000,78000,167000,195000],
                  'EXPERIENCE' : [10,13,6,8,10,13,19,15,20,24]})
print(data)
d={}
d['num'] = data.dtypes[data.dtypes!='object'].index
d['cat']=data.dtypes[data.dtypes=='object'].index
print()
print()
print(d)
print()
print()
from sklearn.preprocessing import MinMaxScaler,StandardScaler,OrdinalEncoder
le_profession=OrdinalEncoder()
le_profession.fit(data[['PROFESSION']])
le_profession.categories_
data['PROFESSION']=le_profession.transform(data[['PROFESSION']])
pd.get_dummies(data['GENDER'])
#le_profession.inverse_transform(data[['PROFESSION']])
data.drop(['NAME'],inplace=True,axis=1)
data=pd.get_dummies(data)
print(data)
print()
print()
min_max_scaler=MinMaxScaler()
min_max_scaler.fit(data[['SALARY']])
print("min_max_scaler.data_min_",min_max_scaler.data_min_)
print("min_max_scaler.data_max_",min_max_scaler.data_max_)
data['SALARY_MIN_MAX_SCALED']=min_max_scaler.transform(data[['SALARY']])
print()
print()
print(data)
print()
print()
std_scale_sal=StandardScaler()
std_scale_sal.fit(data[['SALARY']])
print("std_scale_sal.mean_",std_scale_sal.mean_)
print("std_scale_sal.scale_",std_scale_sal.scale_)
data['salary_standard_scaled']=std_scale_sal.transform(data[['SALARY']])
print()
print()
print(data)

   ID     NAME  GENDER         PROFESSION  SALARY  EXPERIENCE
0   1     JOHN    MALE            MANAGER  100000          10
1   2     JACK    MALE            MANAGER  120000          13
2   3   MARIAH  FEMALE          DEVELOPER   95000           6
3   4  KRISHNA    MALE          TEAM LEAD   99000           8
4   5    DANNY    MALE          TEAM LEAD  105000          10
5   6     LISA  FEMALE  ASSISTANT MANAGER  145000          13
6   7   ANDREW    MALE  ASSISTANT MANAGER  155000          19
7   8     RAVI    MALE            MANAGER   78000          15
8   9   GARIMA  FEMALE  ASSISTANT MANAGER  167000          20
9  10   KAVITA  FEMALE                CEO  195000          24


{'num': Index(['ID', 'SALARY', 'EXPERIENCE'], dtype='object'), 'cat': Index(['NAME', 'GENDER', 'PROFESSION'], dtype='object')}


   ID  PROFESSION  SALARY  EXPERIENCE  GENDER_FEMALE  GENDER_MALE
0   1         3.0  100000          10              0            1
1   2         3.0  120000          13              0            1
2   3         2.0   95000           6              1            0
3   4         4.0   99000           8              0            1
4   5         4.0  105000          10              0            1
5   6         0.0  145000          13              1            0
6   7         0.0  155000          19              0            1
7   8         3.0   78000          15              0            1
8   9         0.0  167000          20              1            0
9  10         1.0  195000          24              1            0


min_max_scaler.data_min_ [78000.]
min_max_scaler.data_max_ [195000.]


   ID  PROFESSION  SALARY  EXPERIENCE  GENDER_FEMALE  GENDER_MALE  \
0   1         3.0  100000          10              0            1
1   2         3.0  120000          13              0            1
2   3         2.0   95000           6              1            0
3   4         4.0   99000           8              0            1
4   5         4.0  105000          10              0            1
5   6         0.0  145000          13              1            0
6   7         0.0  155000          19              0            1
7   8         3.0   78000          15              0            1
8   9         0.0  167000          20              1            0
9  10         1.0  195000          24              1            0

   SALARY_MIN_MAX_SCALED
0               0.188034
1               0.358974
2               0.145299
3               0.179487
4               0.230769
5               0.572650
6               0.658120
7               0.000000
8               0.760684
9               1.000000


std_scale_sal.mean_ [125900.]
std_scale_sal.scale_ [35764.36774221]


   ID  PROFESSION  SALARY  EXPERIENCE  GENDER_FEMALE  GENDER_MALE  \
0   1         3.0  100000          10              0            1
1   2         3.0  120000          13              0            1
2   3         2.0   95000           6              1            0
3   4         4.0   99000           8              0            1
4   5         4.0  105000          10              0            1
5   6         0.0  145000          13              1            0
6   7         0.0  155000          19              0            1
7   8         3.0   78000          15              0            1
8   9         0.0  167000          20              1            0
9  10         1.0  195000          24              1            0

   SALARY_MIN_MAX_SCALED  salary_standard_scaled
0               0.188034               -0.724184
1               0.358974               -0.164969
2               0.145299               -0.863988
3               0.179487               -0.752145
4               0.230769               -0.584381
5               0.572650                0.534051
6               0.658120                0.813659
7               0.000000               -1.339322
8               0.760684                1.149188
9               1.000000                1.932091